@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <div class="d-sm-inline-flex flex-sm-row-reverse">
        <p class="flex-grow-1">
            Username:
        </p>
        <p class="flex-grow-1">
            @Html.TextBoxFor(m => m.LoginModel.Username, new { @class = "form-control" })
        </p>
        <p class="flex-grow-1">
            Username:
        </p>
    </div>
    </div>
